/* @media screen and (width <= 1024px) {
    .sell-container {
        .circle {
            left: 65%;
        }

        .view-move-bt:hover {
            background: transparent;
            color: #000;
        }
    }
}

@media screen and (width <= 767px) {
    .sell-container {
        --margin-left: 4%;

        .circle {
            display: none;
        }
    }
}

@media screen and (width <= 500px) {
    .sell-container {
        height: 500px;

        .title {
            bottom: 75%;
            font-size: 1.5em;
        }

        .view-move-bt {
            display: none;
        }

        .products-container {
            --width-card: 225px;
            top: 32%;

            height: 325px;

            .card {
                .detail {
                    .name-price {
                        font-size: .6em;
                    }
                }
            }
        }
    }
} */

.sell-container {
    --padding-inline: 50px;

    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .bar {
        padding-inline: var(--padding-inline);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 2em;
            font-weight: 500;
            text-transform: uppercase;
        }

        .view-move-bt {
            border-radius: 20px;
            border: 1px solid #000;
            width: 120px;
            height: 30px;
            display: grid;
            place-items: center;
            font-weight: 500;
            cursor: pointer;
            background: transparent;
            transition: background-color .3s, color .3s, transform .1s;
            outline: none;
            transform-origin: center;
            user-select: none;
            -webkit-user-select: none;
        }
        .view-move-bt:active {
            transform: scale(.96);
        }
        .view-move-bt:hover {
            background: #000;
            color: #fff;
        }
    }

    .products-container {
        --width-card: 300px;

        display: grid;
        grid-auto-flow: column;
        gap: 25px;
        padding-inline: var(--padding-inline);
        overflow-x: scroll;

        .card {
            width: var(--width-card);
            height: 100%;
            cursor: pointer;

            .img-section {
                height: 400px;
            }

            .details {
                margin-bottom: 30px;
                font-weight: 400;
                text-transform: capitalize;
                font-size: .9em;

                .member {
                    margin-top: 10px;
                    color: #c29249;
                    font-weight: 500;
                }
                .name {
                    margin-top: 2px;
                    font-weight: 500;
                }
                .category {
                    margin-top: 2px;
                    color: #999;
                }
                .price {
                    margin-top: 10px;
                    font-size: 1.2em;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (width <= 700px) {
    .sell-container {
        --padding-inline: 20px;

        height: 475px;
        margin-top: 30px;

        .bar {    
            .title {
                font-size: clamp(1.1em, 5vw, 5em);
            }
    
            .view-move-bt {
                width: max-content;
                height: max-content;
                border: none;
                text-decoration: underline;
                font-size: clamp(.9em, 2.5vw, 3em);
            }
            .view-move-bt:hover {
                color: #000;
                background: transparent;
            }
            .view-move-bt:active {
                transform: scale(1);
            }
        }
    
        .products-container {
            --width-card: 250px;
    
            .card {
                height: 325px;
                padding-bottom: 30px;

                .img-section {
                    height: 100%;
                }
    
                .details {
                    display: none;
                }
            }
        }
    }
}