.nav {
    --margin: 0 5%;
    --font-weight: 500;
    --height-fir-thi-row: 40px;

    .close-icon {
        display: none;       
    }

    .row-1 {
        --font-size: .7em;
        --gap: 6px;
        
        display: grid;
        padding: var(--margin);
        height: var(--height-fir-thi-row);
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;

        .login-text {
            display: none;
        }

        .regster {
            display: inline-flex;
            width: min-content;
            align-items: center;
            justify-content: start;
            cursor: pointer;
    
            p {
                font-size: var(--font-size);
                margin-right: var(--gap);
                font-weight: var(--font-weight);
                text-transform: uppercase;
            }
            .icon {
                font-size: var(--font-size);
            }
        }
    
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
    
            p {
                font-size: var(--font-size);
                font-weight: var(--font-weight);
                text-transform: uppercase;
            }
        }
    
        .login {
            display: inline-flex;
            align-items: center;
            justify-content: end;
    
            p {
                font-size: var(--font-size);
                font-weight: var(--font-weight);
                text-transform: uppercase;
                padding: var(--gap);
                cursor: pointer;
            }
            .icon {
                font-size: var(--font-size);
                cursor: pointer;
            }
        }
    }
    .row-1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50%;
        width: 100%;
        height: 1px;
        background: #ccc;
    }

    .row-2 {
        --space: 50%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 70px;
        margin: var(--margin);

        .categorys {
            display: flex;
            align-items: center;
            font-size: .8em;
            font-weight: 600;
            text-transform: uppercase;
            gap: 5%;
        }

        .brand {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 2em;
            text-transform: uppercase;
        }

        .activities {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 11%;
            font-size: 1.1em;
        }

        .item {
            width: max-content;
            box-sizing: content-box;
            padding: 5px;
            cursor: pointer;
        }
        .icon {
            cursor: pointer;
        }
    }

    .row-3 {
        --font-size: .7em;

        padding-inline: 20%;
        height: var(--height-fir-thi-row);
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;

        div {
            display: grid;
            place-content: center;
            cursor: pointer;
            margin-right: 10px;
            padding-inline: 5px;
            font-size: .6em;
            text-transform: uppercase;
        }
    }

    .arrow {
        display: none;
    }
}

.nav-phone-container {
    display: none;
}

/* tablet */

/* @media screen and (767px<= width <= 1024px) {
    .nav {
        background: blue;
    }
} */

/* phone */
@media screen and (width <= 767px) {
    .nav {
        --font-size-phone: 3vw;
        --height-bt: 50px;
        --padding-left-right-bt: 0 7%;

        width: 60%;
        height: 100svh;
        position: relative;
        background: #fff;
        position: fixed;
        top: 0;
        left: -60%;
        display: grid;
        grid-template-rows: max-content max-content max-content;
        transition: all .5s;
        z-index: 1111;

        .close-icon {
            box-sizing: content-box;
            display: block;
            position: absolute;
            top: 25px;
            left: 5%;
            user-select: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 10px;
            transition: all .1s;
        }
        .close-icon:hover {
            background: #eee;
        }

        .row-1 {
            display: block;
            grid-row: 3;
            padding: 0;
            width: 100%;
            height: max-content;

            .login-text {
                display: block;
                color: #666;
                line-height: 23px;
                margin: var(--padding-left-right-bt);
                margin-right: 30%;
                font-size: 1em;
                margin-bottom: 20px;

                span {
                    display: block;
                    color: #666;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 1em;
                }
            }

            .regster {
                margin-right: 10px;
                margin-left: 5%;
                display: -ms-inline-grid;
                width: 120px;
                height: 30px;
                user-select: none;
                place-content: center;
                cursor: pointer;
                border-radius: 20px;
                background: #000;
                color: #fff;
                transition: all .1s;

                p {
                    font-size: .8em;
                }
            }
            .regster:hover {
                opacity: .5;
            }
        
            .text {
                display: none;
            }
        
            .login {
                width: 120px;
                display: -ms-inline-grid;
                place-content: center;
                user-select: none;
                cursor: pointer;
                height: 30px;
                border-radius: 20px;
                border: 1.5px solid #999;
                color: #000;
                transition: all .1s;

                p {
                    padding: 0;
                    font-size: .8em;
                }
            }
            .login:hover {
                border-color: #000;
            }

            .icon {
                display: none;
            }
        }
        .row-1::after {
            display: none;
        }

        .arrow {
            display: block;
            font-size: var(--font-size-phone);
            margin-left: auto;
        }

        .row-2 {
            width: 100%;
            height: max-content;
            margin: 0;
            margin-top: 70px;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
    
            .categorys {
                width: 100%;
                height: max-content;
                display: block;
                font-size: var(--font-size-phone);
                font-weight: 500;
                cursor: pointer;
            }
    
            .brand {
                display: none;
            }
    
            .activities {
                display: none;
            }
    
            .item {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                align-items: center;
                height: 50px;
                padding: var(--padding-left-right-bt);
            }
            .icon {
                cursor: pointer;
            }
        }

        .row-3 {
            padding: var(--padding-left-right-bt);
            padding-top: 10%;
            padding-bottom: 10%;
            width: 100%;
            height: max-content;
            flex-wrap: wrap;
            display: flex;
            justify-content: start;
            background: #fff;

            div {
                padding: 5px 10px;
                text-wrap: nowrap;
                font-size: .6em;
                background: #eee;
                color: #000;
                margin-bottom: 2%;
            }
        }
    }
    .effect-blur-nav {
        position: fixed;
        inset: 0;
        opacity: 0;
        width: 100svw;
        height: 100svh;
        backdrop-filter: blur(3px);
        background: #00000038;
        transition: all .2s;
        z-index: -1;
    }
    .effect-blur-nav.active {
        opacity: 1;
        z-index: 1111;
    }
    .effect-blur-nav.active .nav {
        left: 0;
    }

    .nav-phone-container {
        display: block;
        height: max-content;

        .text {
            display: grid;
            place-content: center;
            height: 60px;
            text-transform: uppercase;
            font-size: clamp(13px, 1.9vw, 30px);
            font-weight: 500;
            background: #eee;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding-inline: 3%;

            .brand {
                font-size: clamp(20px, 3.3vw, 30px);
                /* font-size: 3.3vw; */
                font-weight: 600;
                text-transform: uppercase;
            }

            .icon,
            .menu-icon {
                margin-left: 20px;
                font-size: clamp(20px, 2.9vw, 30px);
                /* font-size: 2.9vw; */
                user-select: none;
                cursor: pointer;
            }
        }
    }
}